


article.album{	border:3px solid #ccc;	width: 181px;height:280px;display: block;	padding: 5px ;	margin: 10px  10px ;	float:left;	background: #BFBFBF;
border-radius:5px; -webkit-border-radius:5px;}
article.album:hover{box-shadow: 2px 2px 5px #000;}
article.album h3{
	font-size: 12px;
	font-family: Helvetica, Sans-serif, Arial;
	font-weight: bold;
	color:#2F72A9;
	text-align: left;
	padding: 0;

	margin:5px;
}

article.album p{
	color:#7c7c7c;
	font-size: 10px;
	font-weight: lighter;
}
article.album section.texto{
	border:thin solid red;

}
article.album img {
	border:5px solid #fff ;
	box-shadow: 5px 5px  5px #c4c4c4, -5px -5px  5px #c4c4c4;
	margin: 3px;
	max-height: 280px;
	max-width: 168px;
}


