


article.album{	border:3px solid #ccc;	width: 181px;height:280px;display: block;	padding: 5px ;	margin: 10px  10px ;	float:left;	background: #BFBFBF;
border-radius:5px; -webkit-border-radius:5px;
transition:all 1s;
-moz-transition:all 1s ease; /* Firefox 4 */
-webkit-transition:all 1s ease; /* Safari and Chrome */
-o-transition:all 1s ease; /* Opera */
 }
article.album:hover{  transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1);}
article.album h3{
	font-size: 12px;
	font-family: Helvetica, Sans-serif, Arial;
	font-weight: bold;
	color:#2F72A9;
	text-align: left;
	padding: 0;

	margin:5px;
}
article.album hr{ color:white;}
article.album section.texto h3 span{
	color:#7c7c7c;
	font-size: 09px;
	font-weight: lighter;
		text-align: left;
}
article.album section.texto{
	border:thin solid #f4f4f4;
background: #fff;
border-radius: 5% ;
padding: 12px;
}
article.album img {
	border:5px solid #fff ;
	box-shadow: 5px 5px  5px #c4c4c4, -5px -5px  5px #c4c4c4;
	margin: 3px;
	max-height: 280px;
	max-width: 168px;
	transform:rotate(5deg);
	box-shadow: 1px 1px 3px #070707;
	background: #fff;
}

/*Fondo 1 y fondo son capas colocadas para crear el efecto de barajas*/
.fondo1,.fondo2 {
	border: 5px solid #fff;
	margin:0;
	padding: 0;
	background: #c4c4c4;
	transform:rotate(-10deg);
		box-shadow: 1px 1px 3px #070707;
}
.fondo1 {
background: #020202;
	transform:rotate(5deg);
}